In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("clean_dataset.csv")
df.drop(columns='ID', inplace=True)
df_log = np.log1p(df.drop(columns=['net_type']))

In [3]:
df_num = df.drop(columns=['net_type'])
df_num.describe()

,avg_d_kbps,avg_u_kbps,avg_lat_ms,avg_lat_down_ms,avg_lat_up_ms,derived_lat_down,derived_lat_up
count,1.979000e+04,19790.000000,19790.000000,18906.000000,18928.000000,19790.000000,19790.000000
mean,1.104517e+05,37757.005205,29.317029,661.624617,921.102388,671.904548,936.037948
std,1.334897e+05,71151.398225,25.178250,809.452912,1134.960216,815.164706,1142.487801
min,4.000000e+00,1.000000,1.000000,2.000000,3.000000,2.000000,3.000000
25%,1.966450e+04,5512.250000,14.000000,204.000000,174.000000,210.000000,179.000000
50%,5.488250e+04,14483.500000,23.000000,426.000000,502.000000,435.000000,520.000000
75%,1.584768e+05,32911.250000,36.000000,785.000000,1241.000000,802.000000,1266.000000
max,1.969184e+06,995535.000000,249.000000,9538.000000,9718.000000,9538.000000,9718.000000

In [4]:
df_fix = df[df['net_type'] == 'fixed']
df_mob = df[df['net_type'] == 'mobile']

In [6]:
df_fix.describe()

,avg_d_kbps,avg_u_kbps,avg_lat_ms,avg_lat_down_ms,avg_lat_up_ms,derived_lat_down,derived_lat_up
count,9.872000e+03,9872.000000,9872.000000,9700.000000,9707.000000,9872.000000,9872.000000
mean,1.478355e+05,61192.428687,20.624190,362.144948,449.657670,362.535049,450.098359
std,1.398987e+05,93687.890238,21.781649,480.692417,695.874302,479.410658,695.164164
min,8.000000e+00,5.000000,1.000000,2.000000,4.000000,2.000000,4.000000
25%,3.671450e+04,10458.750000,10.000000,124.000000,82.000000,124.000000,82.000000
50%,1.005720e+05,22716.500000,15.000000,233.000000,205.000000,234.000000,204.500000
75%,2.305250e+05,71477.000000,24.000000,422.000000,500.000000,423.000000,501.000000
max,1.411955e+06,995535.000000,249.000000,8518.000000,9718.000000,8518.000000,9718.000000

In [7]:
df_mob.describe()

,avg_d_kbps,avg_u_kbps,avg_lat_ms,avg_lat_down_ms,avg_lat_up_ms,derived_lat_down,derived_lat_up
count,9.918000e+03,9918.000000,9918.000000,9206.000000,9221.000000,9918.000000,9918.000000
mean,7.324128e+04,14430.275963,37.969550,977.174560,1417.394968,979.839181,1419.723735
std,1.153315e+05,16566.416038,25.351057,952.944357,1286.160782,952.415229,1286.305131
min,4.000000e+00,1.000000,1.000000,5.000000,3.000000,5.000000,3.000000
25%,1.292975e+04,3278.750000,23.000000,444.000000,526.000000,444.000000,528.000000
50%,3.299600e+04,9336.500000,31.000000,680.000000,1031.000000,683.000000,1036.000000
75%,8.173375e+04,19735.250000,43.000000,1143.750000,1855.000000,1154.000000,1854.750000
max,1.969184e+06,187301.000000,248.000000,9538.000000,9641.000000,9538.000000,9641.000000

In [8]:
print('Varience:\n\n', df_num.var())

Varience:

 avg_d_kbps          1.781951e+10
avg_u_kbps          5.062521e+09
avg_lat_ms          6.339443e+02
avg_lat_down_ms     6.552140e+05
avg_lat_up_ms       1.288135e+06
derived_lat_down    6.644935e+05
derived_lat_up      1.305278e+06
dtype: float64

In [9]:
print('Modes:\n\n', df_num.mode().iloc[0])

Modes:

 avg_d_kbps          2690.0
avg_u_kbps             9.0
avg_lat_ms            18.0
avg_lat_down_ms      124.0
avg_lat_up_ms         38.0
derived_lat_down     124.0
derived_lat_up        38.0
Name: 0, dtype: float64

In [10]:
df_num['avg_lat_ms'].kurtosis()

15.761779353185307

In [11]:
corr = df_num.corr()
corr.style.background_gradient(cmap = 'viridis').format(precision = 3)

In [12]:
df_num.cov()

,avg_d_kbps,avg_u_kbps,avg_lat_ms,avg_lat_down_ms,avg_lat_up_ms,derived_lat_down,derived_lat_up
avg_d_kbps,1.781951e+10,5.211719e+09,-955737.915089,-2.724389e+07,-5.280656e+07,-2.637135e+07,-5.087016e+07
avg_u_kbps,5.211719e+09,5.062521e+09,-509238.033385,-1.281951e+07,-2.234684e+07,-1.253431e+07,-2.181933e+07
avg_lat_ms,-9.557379e+05,-5.092380e+05,633.944260,6.065392e+03,9.025857e+03,5.976735e+03,8.847750e+03
avg_lat_down_ms,-2.724389e+07,-1.281951e+07,6065.392206,6.552140e+05,3.752569e+05,6.552140e+05,3.828391e+05
avg_lat_up_ms,-5.280656e+07,-2.234684e+07,9025.856677,3.752569e+05,1.288135e+06,3.848160e+05,1.288135e+06
derived_lat_down,-2.637135e+07,-1.253431e+07,5976.734644,6.552140e+05,3.848160e+05,6.644935e+05,3.953263e+05
derived_lat_up,-5.087016e+07,-2.181933e+07,8847.749958,3.828391e+05,1.288135e+06,3.953263e+05,1.305278e+06